.form {
  display: flex;
  flex-direction: column;
  padding: 20px !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  overflow: auto !important;
  outline: 0 !important;
  width: 100% !important;
  height: 100% !important;
  min-height: inherit !important;
  max-height: inherit !important;
}

.full-width{
width: 100%;
}

.search-box{
border: 2px solid rgba(23, 90, 117, 0.8);
}

* {
  box-sizing: border-box;
}

.add {
  height: 40px;
}

.delete {
  display: grid;
  justify-items: center;
}

.footer {
  display: grid;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: auto auto;
  margin-top: 30px;
}

.num-address-style{
  width: 500px;
}

.title-bloc {
color: white;
//background: rgb(23, 90, 117);
background: #4CAF50; /* Green */
font-size: 20px;
margin-left: 10px;
padding: 1%;
text-align: center;
}

.docs-list-style{
height: 177px;
}

// mat-form-field {
//   width: 100%;
// }

mat-expansion-panel-header{
  background: rgba(3, 57, 82, 0.15);
  margin-bottom: 8px;
}
