<form id="frm" class="form" [formGroup]="frm" novalidate>
  <h1 class="title-bloc">{{(!isNew ? 'Modifier l\'' : 'Ajouter une') + ' expérience'}}</h1>
  <div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Date début/fin
          </mat-panel-title>
            <mat-icon>date_range</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill">
          <mat-label>Date de début</mat-label>
          <input matInput placeholder="Date début"  name="startDate" [formControl]="ctlStartDate" [matDatepicker]="startdatepicker" required>
          <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
          <mat-datepicker  [dateClass]="" #startdatepicker></mat-datepicker>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill">
          <mat-label>Date de fin</mat-label>
          <input matInput placeholder="Date fin" #endDateInput="ngForm" [formControl]="ctlEndDate" name="endDate" [matDatepicker]="enddatepicker" required [afterDate]="ctlStartDate.value">
          <mat-datepicker-toggle matIconSuffix [for]="enddatepicker"></mat-datepicker-toggle>
          <mat-datepicker [dateClass]="" #enddatepicker></mat-datepicker>
          <mat-error class="field-error" *ngIf="endDateInput.errors?.afterDate">Doit être postérieure à la date de début !</mat-error>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Nom de l'entreprise
          </mat-panel-title>
          <mat-icon>business</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom" [formControl]="ctlCompanyName" required>
      </mat-form-field>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Fonction dans l'entreprise
          </mat-panel-title>
          <mat-icon>account_circle</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>fonction</mat-label>
          <input matInput placeholder="Fonction" [formControl]="ctlFunction" required>
      </mat-form-field>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tâches
          </mat-panel-title>
          <mat-icon>task_alt</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tâches</mat-label>
          <textarea matInput placeholder="..." [formControl]="ctlTask"></textarea>
      </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Environnement
          </mat-panel-title>
          <mat-icon>home_work</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Environnemment</mat-label>
          <textarea matInput placeholder="..." [formControl]="ctlEnvironment"></textarea>
      </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comment ai-je obtenu ce contrat ?
          </mat-panel-title>
          <mat-icon>question_mark</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contexte d'embauche</mat-label>
          <textarea matInput placeholder="..." [formControl]="ctlContextOfHiring"></textarea>
      </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Type de contrat
          </mat-panel-title>
          <mat-icon>handshake</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Type de contract</mat-label>
          <mat-select placeholder="..." [formControl]="ctlTypeOfContract" required>
            <mat-option *ngFor="let contract of contracts" [value]="contract.id">
                {{contract.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Raison de fin de contrat
          </mat-panel-title>
          <mat-icon>pan_tool</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Fin de contrat</mat-label>
          <textarea matInput placeholder="..." [formControl]="ctlReasonEndOfContract"></textarea>
      </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="footer">
    <button type="reset" mat-button (click)="cancel()">Annuler</button>
    <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">{{!isNew ? 'Modifier' : 'Enregistrer'}}</button>
</div>
</form>
