<form id="frm" class="form" [formGroup]="frm" novalidate>
  <h1 class="title-bloc">{{ (!isNew ? 'Modifier' : 'Enregistrer') + ' l\'engagement' }}</h1>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Date de début</mat-label>
      <input matInput placeholder="Date début"  name="startDate" [formControl]="ctlStartDate" [matDatepicker]="startdatepicker" required>
      <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
      <mat-datepicker  [dateClass]="" #startdatepicker></mat-datepicker>
  </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Date de fin</mat-label>
        <input matInput placeholder="Date fin" #endDateInput="ngForm" [formControl]="ctlEndDate" name="endDate" [matDatepicker]="enddatepicker" [afterDate]="ctlStartDate.value">
        <mat-datepicker-toggle matIconSuffix [for]="enddatepicker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="" #enddatepicker></mat-datepicker>
        <mat-error class="field-error" *ngIf="endDateInput.errors?.afterDate">Doit être postérieure à la date de début !</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Type d'horaire de travail</mat-label>
      <mat-select placeholder="Etat" [formControl]="ctlEmploymentStatus" required>
          <mat-option *ngFor="let type of workScheduletypes" [value]="type.id">
              {{type.value}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <div class="footer">
      <button type="reset" mat-button (click)="cancel()">Annuler</button>
      <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">{{'Enregistrer'}}</button>
  </div>
</form>
<!-- <pre>
{{frm.value | json }}
{{frm.invalid | json }}
{{frm.pristine | json }}
{{frm.pending | json }}
</pre> jobInfo-->
