@cpas:registry=https://pkgs.dev.azure.com/cpas-1030/_packaging/main/npm/registry/
//pkgs.dev.azure.com/cpas-1030/_packaging/main/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/cpas-1030/_packaging/main/npm/registry/:_password=NHhjcWlvcmkycnlxczN2cWw1dDN3NHpkNGZwcGJzb3F2N3J3cHdnd3F1eHo0cDRhdWxrYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/cpas-1030/_packaging/main/npm/registry/:email=not-used@example.com
