.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content:center;
}

.title-bloc {
    color: white;
    //background: rgb(23, 90, 117);
    background: #4CAF50; /* Green */
    font-size: 20px;
    margin-left: 10px;
    padding: 2px;
    text-align: center;
  }

  .button-size{
    width: 5px;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #4CAF50;
    }
