<form id="frm" class="form" [formGroup]="frm">
    <div class="form">
      <h1 class="header">Langue maternelle</h1>
      <mat-form-field appearance="fill">
        <mat-label>Langue</mat-label>
        <input
          type="text"
          placeholder="Langue"
          matInput
          [formControl]="ctlNativeLanguage"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-error *ngFor="let validation of validation_msgs.languageAutocompleteControl">
        <div *ngIf="ctlNativeLanguage.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </mat-error>
    </div>
    <div class="footer">
      <button type="reset" mat-button (click)="cancel()" [disabled]="isloading">Annuler</button>
      <button
        type="submit"
        mat-button
        form="frm"
        [disabled]="frm.pristine || frm.invalid || frm.pending || isloading"
        (click)="create()"
      >
        Enregister
      </button>
    </div>
  </form>
  