<form id="frm" class="form" [formGroup]="frm" novalidate>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="Voir l'historique">
            <h1 class="title-bloc">Historique</h1>
                <ng-container *ngIf="history">
                    <frontend-beneficiary-employment-status-history [data]="history"></frontend-beneficiary-employment-status-history>
                </ng-container>
        </mat-tab>
        <mat-tab label="Modifier le régime horaire">
            <h1 class="title-bloc">Modifier le régime horaire</h1>
            <div>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Type de régime de travail</mat-label>
                <mat-select placeholder="Etat" [formControl]="ctlEmploymentStatus" required>
                    <mat-option *ngFor="let type of workScheduletypes" [value]="type.id">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Date application régime</mat-label>
                <input matInput placeholder="Date début" [formControl]="ctlEmploymentStatusDate" [matDatepicker]="startdatepicker" required>
                <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
                <mat-datepicker #startdatepicker></mat-datepicker>
            </mat-form-field>
            <br>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="footer">
      <button type="reset" mat-button (click)="cancel()">Annuler</button>
      <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="add()">{{'Ajouter'}}</button>
  </div>
</form>
<!-- <pre>
{{frm.value | json }}
{{frm.invalid | json }}
{{frm.pristine | json }}
{{frm.pending | json }}
</pre> -->
