table {
  width: 100%;
}

.form .form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-column-actions {
width: 250px;
}

.button-style {
  margin-top: 6px;
}

.boutton {
  background-color: rgb(141, 187, 68, 0.90);
  //rgba(3, 57, 82, 0.15);
}

.card-style {
  margin-top: 20px;
  transition: none !important;
  box-shadow: none !important;
}

.true-edit {color: rgb(141, 187, 68, 0.4);}
.false-edit {color: rgb(141, 187, 68, 0.90);}

.true-delete {color: rgb(255,0,0,0.4);}
.false-delete {color: rgb(255,0,0,0.90);}
