table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-column-actions {
  width: 110px;
}

.button-style {
  margin-top: 6px;
}

.boutton {
  background-color: rgb(141, 187, 68, 0.90);
  //rgba(3, 57, 82, 0.15);
}

.card-style {
  margin-top: 20px;
  transition: none !important;
  box-shadow: none !important;
}

.green-icon {
  color: rgb(141, 187, 68, 0.90);
}
.title-bloc {
  display: flex;
  flex-wrap: wrap;
  background: #4CAF50; /* Green */
  height: 55px;
  padding: 2px;
  //font-size: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.title{
  color: white;
  //padding-left: 10px;
  margin: 6px;
}

.buttoListJobOffers{
  //padding: 5px;
  margin: 8px 5px 0 0;
  color: white;
}

.spinner{
  color: white;
}

.table-style {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.filter{
  display: flex;
  flex-wrap: wrap;
}
