.example-spacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: #476f24;
}

.separator {
    color: rgb(141, 187, 68, 0.90);
    font-size: 25px;
    font-weight: bold;
}

.img-logo {
    width: 20%;
}

.appName {
    font-weight: 900;
}

button:hover {
  transform: scale(0.9);
}
