.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.separator {
  color: rgb(179, 214, 243, 0.9);
  font-size: 25px;
  font-weight: bold;
}

.img-logo {
  width: 20%;
}

.appName {
  //font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,sans-serif;
}

button:hover {
  transform: scale(0.9);
}

.btn-about-box {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-about-box {
  color: #c6c6c6;
  transform: scale(1.1);
}

.mat-toolbar{
  background-color: #0178d4;
  height: 50px;
}

.mat-icon {
  color: #ffffff;
}
