<div class="container mat-elevation-z0">
  <ng-container *ngIf="{
      beneficiary : selectedBeneficiary$ | async,
      jobOffersData : allJobOffers$ | async} as apiData; else loading">
    <ng-container *ngIf="apiData.beneficiary">
      <mat-card class="card-style-benef ">
          <mat-card-content>
              <mat-grid-list cols="3 " rowHeight="10:1 ">
                  <mat-grid-tile class="mat-grid-tile-style ">
                      <p><span class="title ">N° dossier</span></p>
                  </mat-grid-tile>
                  <mat-grid-tile class="mat-grid-tile-style ">
                      <p><span class="title ">Nom</span></p>
                  </mat-grid-tile>
                  <mat-grid-tile class="mat-grid-tile-style ">
                      <p><span class="title ">Prénom</span></p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <p> {{apiData.beneficiary.referenceNumber }} </p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <p>{{ apiData.beneficiary.lastname }}</p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <p>{{ apiData.beneficiary.firstname }}</p>
                  </mat-grid-tile>
              </mat-grid-list>
          </mat-card-content>
      </mat-card>
      <div class="add-button-div">
        <h3 class="title-bloc">
          Gestion des candidatures et expériences professionnelles
          <mat-icon matTooltip="Emplois">work</mat-icon>
        </h3>
        <ng-container
        *ngIf="selected == 0 then art60; else experiencePro">
      </ng-container>
      </div>
      <mat-tab-group mat-stretch-tabs dynamicHeight class="card-style-integration" [selectedIndex]="selected"
      (selectedIndexChange)="setValue($event)">
        <mat-tab label="Candidature Emploi d'insertion">
          <mat-card class="card-style-integration">
            <ng-container *ngIf="apiData.jobOffersData">
              <frontend-beneficiary-jobs-list [beneficiaryId]="apiData.beneficiary.beneficiaryId"
              [jobOffersList]="apiData.jobOffersData.joboffers"
               (upsertCandidacyEvent)="persistCandidacy($event)"
               (upsertJobOfferEvent)="persistJobOffer($event)"
                (deleteCandidacyEvent)="deleteCandidacy($event)"
                (addToHistoryEvent)="persistHistory($event)"
                (terminateEmploymentEvent)="terminateEmployment($event)"
            ></frontend-beneficiary-jobs-list>
            </ng-container>
        </mat-card>
        </mat-tab>
        <mat-tab label="Expériences professionnelles">
          <frontend-professional-expectations-list [beneficiaryId]="apiData.beneficiary.beneficiaryId"></frontend-professional-expectations-list>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
    <ng-template #art60>
      <button mat-fab color="primary" class="add-button" (click)="createJobCandidacy(apiData.jobOffersData.joboffers,apiData.beneficiary.beneficiaryId)">
        <mat-icon matTooltip="Postuler">add</mat-icon>
      </button>
    </ng-template>
    <ng-template #experiencePro>
      <button mat-fab color="primary" class="add-button" (click)="createJobExperience(apiData.beneficiary.beneficiaryId)">
        <mat-icon matTooltip="Ajouter une expérience">add</mat-icon>
      </button>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
