<div class="container mat-elevation-z0">
  <ng-container *ngIf="selectedBeneficiary$ | async as beneficiary">
      <mat-card class="card-style-benef ">
          <mat-card-content>
              <mat-grid-list cols="3 " rowHeight="10:1 ">
                  <mat-grid-tile class="mat-grid-tile-style ">
                      <p><span class="title ">N° dossier</span></p>
                  </mat-grid-tile>
                  <mat-grid-tile class="mat-grid-tile-style ">
                      <p><span class="title ">Nom</span></p>
                  </mat-grid-tile>
                  <mat-grid-tile class="mat-grid-tile-style ">
                      <p><span class="title ">Prénom</span></p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <p> {{beneficiary.referenceNumber }} </p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <p>{{beneficiary.lastname }}</p>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <p>{{beneficiary.firstname }}</p>
                  </mat-grid-tile>
              </mat-grid-list>
          </mat-card-content>
      </mat-card>
      <mat-card class="card-style-supports">
          <frontend-beneficiary-formations-list [beneficiaryId]="beneficiary.beneficiaryId"></frontend-beneficiary-formations-list>
      </mat-card>
    </ng-container>
</div>
