<form id="frm" class="form" [formGroup]="frm" novalidate>
  <h1 class="header">Clôturer le suivi ? </h1>
  <div>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date de clôture</mat-label>
          <input matInput placeholder="Date de clôture" [formControl]="ctlEndDate" [matDatepicker]="datepicker" required>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="full-width">
          <mat-label>Motif de clôture</mat-label>
          <mat-select placeholder="Motif" [formControl]="ctlReason" required>
              <mat-option *ngFor="let reasonOfClosure of reasons" [value]="reasonOfClosure.reason">
                  {{reasonOfClosure.reason}}
              </mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <br>
  <div class="footer">
    <button type="reset" mat-button (click)="cancel()">Annuler</button>
    <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">Valider</button>
  </div>
</form>
<!-- <pre>
{{frm.value | json }}
{{frm.invalid | json }}
{{frm.pristine | json }}
{{frm.pending | json }}
</pre> -->
