<ng-container *ngIf="{
    pos: position$ | async,
    benefId: benefId$ | async
  } as apiData">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link [routerLink]="['/beneficiary', apiData.pos]" routerLinkActive [routerLinkActiveOptions]="{ exact: true }" #rtlInfo="routerLinkActive" [active]="rtlInfo.isActive">
            <mat-icon class="example-tab-icon" style="color: rgb(23, 90, 117)">person</mat-icon>&nbsp;Signalétique
        </a>

        <a mat-tab-link [routerLink]="['/beneficiary', apiData.pos, 'support', apiData.benefId]" routerLinkActive [routerLinkActiveOptions]="{ exact: true }" #rtlSupport="routerLinkActive" [active]="rtlSupport.isActive">
            <span class="material-icons" style="color: rgb(23, 90, 117)">supervisor_account</span
      >&nbsp;Accompagnements
    </a>

    <a
      mat-tab-link
      [routerLink]="['/beneficiary', apiData.pos, 'jobs']"
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: true }"
      #rtlJob="routerLinkActive"
      [active]="rtlJob.isActive"
    >
      <mat-icon style="color: rgb(23, 90, 117)">work</mat-icon>&nbsp;Emplois
    </a>

    <a
      mat-tab-link
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLink]="['/beneficiary', apiData.pos, 'formations']"
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: true }"
      #rtlSchool="routerLinkActive"
      [active]="rtlSchool.isActive"
    >
      <mat-icon style="color: rgb(23, 90, 117)">school</mat-icon
      >&nbsp;Formations
    </a>
    <a
      mat-tab-link
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLink]="['/beneficiary', apiData.pos, 'suivis']"
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: true }"
      #rtlSuivi="routerLinkActive"
      [active]="rtlSuivi.isActive"
    >
      <mat-icon style="color: rgb(23, 90, 117)">compare_arrows</mat-icon
      >&nbsp;Suivis trimistriels
    </a>
    <a
    mat-tab-link
    [routerLinkActiveOptions]="{ exact: false }"
    [routerLink]="['/beneficiary', apiData.pos, 'bilan']"
    routerLinkActive
    [routerLinkActiveOptions]="{ exact: true }"
    #rtlBilan="routerLinkActive"
    [active]="rtlBilan.isActive"
  >
    <mat-icon style="color: rgb(23, 90, 117)">summarize</mat-icon>&nbsp;Bilans
  </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
  </mat-tab-nav-panel>
</ng-container>
