<ng-container *ngIf="{
  beneficiary: selectedBeneficiary$ | async,
  bilan : currentBilan$ | async
 } as apiData ">
 <ng-container *ngIf="apiData.beneficiary">
  <div class="container">
    <div class="card-style-identity card-style-identity-benef">
        <mat-card-content class="isp-infos">
            <mat-grid-list cols="5" rowHeight="50px">
                <mat-grid-tile colspan="2" rowspan="2">
                  <table class="table-infos">
                    <tr>
                    <td>
                      <p>
                        <span class="name"><b>{{ apiData.beneficiary.lastname }} {{ apiData.beneficiary.firstname | capitalize}}</b></span><br/>
                        <mat-icon>badge</mat-icon> : <b>{{ apiData.beneficiary.referenceNumber }}</b><br/>
                        <mat-icon>phone_iphone</mat-icon> : <b>{{ apiData.beneficiary.phone || "Néant" }}</b><br/>
                        <mat-icon>alternate_email</mat-icon> : <b>{{ apiData.beneficiary.email || "Néant"}}</b><br/>
                      </p>
                    </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="2">
                      <div class="title-bloc"><mat-icon style="color: rgb(76, 175, 80)">summarize</mat-icon>&nbsp;BILAN ISP</div>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="2">
                  <div class="button-row">
                    <button mat-fab color="primary" matTooltip="Créer un bilan" [disabled]="allBilansNotDone" (click)="create(apiData.beneficiary.beneficiaryId)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </div>
      <div class="mat-elevation-z0">
              <frontend-bilans-list [beneficiaryId]="apiData.beneficiary.beneficiaryId"></frontend-bilans-list>
      </div>
    <ng-template #loading>
      <mat-spinner class="green-spinner"></mat-spinner>
  </ng-template>
  </div>
 </ng-container>
</ng-container>
