<mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
  <mat-chip-option
    *ngFor="let document of documents; trackBy: trackByFn"
    selected>
    <span class="text-style"
      >{{ document.description }}.{{ document.contentType }}
    </span>
    <mat-icon matChipRemove matTooltip="Ouvrir le document" (click)="emitNewFile(document)">launch</mat-icon>
    <mat-icon matChipRemove matTooltip="supprimer le document" (click)="emitDeleteFile(document)">delete_outline</mat-icon>
  </mat-chip-option>
</mat-chip-listbox>
