mat-basic-chip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2vh;
  width: 100%;
  height: 50px;
}

.file-title{
  margin-left: 7px;
}

.text-style {
  margin-left: 10px;
  width: 110px;
}
