table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th.mat-column-actions {
    width: 110px;
}

.button-style {
    margin-top: 5px;
}

.boutton {
    background-color: rgb(141, 187, 68, 0.90);
    float: right;
    margin-bottom: 5px;
    //rgba(3, 57, 82, 0.15);
}

.blue-icon {
    color: rgba(111, 76, 207, 0.9);
}

.green-icon {
    color: rgb(141, 187, 68, 0.90);
}

.main-icon {
    vertical-align: middle !important;
}

.card-style {
    margin-top: 10px;
    transition: none !important;
    box-shadow: none !important;
}

.mat-card {
    margin-top: 5px !important;
}

.title-bloc {
    color: white;
    //background: rgb(23, 90, 117);
    background: #4CAF50;
    /* Green */
    font-size: 20px;
    padding: 2px;
    text-align: center;
    font-family: sans-serif;
}

.mat-column-actions {
    width: 10% !important;
}

.add-button-div {
    position: relative;
    height: 100%;
}

.add-button {
    position: absolute;
    top: -21px;
    left: 94%;
    right: 0;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

button:hover {
  transform: scale(0.9);
}
