.form {
    display: flex;
    flex-direction: column;
    padding: 20px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: inherit !important;
    max-height: inherit !important;
}

.full-width{
  width: 100%;
}

.search-box{
  border: 2px solid rgba(23, 90, 117, 0.8);
}
* {
    box-sizing: border-box;
}

.add {
    height: 40px;
}

.delete {
    display: grid;
    justify-items: center;
}

.footer {
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: auto auto;
    margin-top: 30px;
}

.title-bloc {
  color: white;
  background: #4CAF50; /* Green */
  //font-size: 20px;
 // margin: 10px;
  padding: 1px 5px 1px 5px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
}

.mat-form-field {
  width: 100%;
}
