<form id="frm" class="form" [formGroup]="frm" novalidate>
  <h3 class="title-bloc">{{(!isNew ? 'Modifier l\'' : 'Ajouter un ') + 'accompagnement'}}</h3>
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab label="Infos suivi">
      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Date de début</mat-label>
            <input matInput placeholder="Date début" [formControl]="ctlStartDate" [matDatepicker]="datepicker" required>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="" #datepicker></mat-datepicker>
        </mat-form-field>
      <br>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Consultant</mat-label>
            <mat-select placeholder="Consultants" [formControl]="ctlReferent" required>
              <input
              placeholder="Chercher..."
              matInput
              type="text"
              (keyup)="onSearch($event.target.value)"
              class="search-box"
              oninput="this.value"
              #chercher
          />
                <mat-option *ngFor="let consultant of filteredlistOfConsultants" [value]="consultant.referentId">
                    {{consultant.lastname}} {{consultant.firstname}} ({{consultant.serviceAcronymName}})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
      </div>
    </mat-tab>
    <mat-tab label="Commentaire">
      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Commentaire</mat-label>
          <textarea  matInput placeholder="Commentaire" [formControl]="ctlNote"></textarea>
        </mat-form-field>
        <br>
    </div>
    </mat-tab>
  </mat-tab-group>
  <div class="footer">
    <button type="reset" mat-button (click)="cancel()">Annuler</button>
    <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">{{!isNew ? 'Modifier' : 'Enregistrer'}}</button>
</div>
</form>
