.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-bloc {
  color: white;
  //background: rgb(23, 90, 117);
  background: #4CAF50; /* Green */
  font-size: 20px;
  margin-left: 10px;
  padding: 1%;
  text-align: center;
  width: 97%;
}

.card-style {
  transition: none !important;
  box-shadow: none !important;
  width: 97%;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-form-field{
  width: 50%;
}

.family{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
