<form id="frm" class="form" [formGroup]="frm" novalidate>
  <h1 class="title-bloc">{{(!isNew ? 'Modifier la' : 'Ajouter une') + ' training'}}</h1>
      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Intitule</mat-label>
          <input matInput placeholder="Intitule" [formControl]="ctlName" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Domaine</mat-label>
          <mat-select placeholder="Domaine" [formControl]="ctlField" required>
              <mat-option *ngFor="let field of fields" [value]="field.id">
                  {{field.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
        <div class="footer">
          <button type="reset" mat-button (click)="cancel()">Annuler</button>
            <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">{{!isNew ? 'Modifier' : 'Ajouter'}}</button>
        </div>
</form>
<!-- <pre>
{{frm.value | json }}
{{frm.invalid | json }}
{{frm.pristine | json }}
{{frm.pending | json }}
</pre> -->
