<div class="row card-style">
  <div class="title-bloc">
    <h4 class="title">{{ title }}
      <mat-icon>{{ iconItem }}</mat-icon>
    </h4>
    <div *ngIf="dataSource.loading$ | async">
      <mat-spinner class="white-spinner" style="margin-top: 15px;" [diameter]="30"></mat-spinner>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="close()" class="buttoListJobOffers">
      <mat-icon matTooltip="Fermer">close</mat-icon>
    </button>
  </div>
    <div class="col-sm-12">
      <mat-form-field class="full-width">
        <mat-label>Chercher des partenaires</mat-label>
        <input matInput #input>
      </mat-form-field>
        <div class="mat-elevation-z2">
          <table mat-table [dataSource]="dataSource" matSort matSortActive="partnerNumber" matSortDirection="asc" matSortDisableClear>
              <ng-container matColumnDef="partnerNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro </th>
                <td mat-cell *matCellDef="let row"> {{row.partnerNumber}} </td>
            </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}}
                      <button mat-icon-button tabindex="-1" (click)="view(row)">
                        <mat-icon color="primary">remove_red_eye</mat-icon>
                    </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="jobCoachName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Joab Coach </th>
                    <td mat-cell *matCellDef="let row"> {{row.jobCoachName | uppercase }} </td>
                </ng-container>
                <ng-container matColumnDef="categoryOfPartner">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie </th>
                    <td mat-cell *matCellDef="let row"> {{row.categoryOfPartnerName }} </td>
                </ng-container>
                <ng-container matColumnDef="statusOfPartner">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
                    <td mat-cell *matCellDef="let row"> {{row.statusOfPartnerName }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [length]="nbOfPartners" [pageSize]="10" [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>
