<form id="frm" class="form" [formGroup]="frm" novalidate>
  <h1 class="title-bloc">
    Bilan socio-professionnel
  </h1>
  <mat-dialog-content class="mat-typography">
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab label="Situation personnelle">
      <div class="form">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel
            [expanded]="step === 0"
            (opened)="setStep(0)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Famille </mat-panel-title>
              <mat-panel-description>
                Contraintes liées aux enfants, au couple, soutien de la famille,
                +pistes de solution
              </mat-panel-description>
              <mat-icon>family_restroom</mat-icon>
            </mat-expansion-panel-header>

            <div class="form-style">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Famille</mat-label>
                <textarea
                  matInput
                  rows="10"
                  placeholder="..."
                  [formControl]="ctlPersonalSituationFamily"
                ></textarea>
              </mat-form-field>
            </div>

          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 1"
            (opened)="setStep(1)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Logement </mat-panel-title>
              <mat-panel-description>
                Logement insalubre reconnu ? Procédure en cours ?
                Expulsions/préavis ? Confort/sécurité ?
              </mat-panel-description>
              <mat-icon>house</mat-icon>
            </mat-expansion-panel-header>
            <div class="form-style">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Logement</mat-label>
                <textarea
                  matInput
                  rows="10"
                  placeholder="..."
                  [formControl]="ctlPersonalSituationHousing"
                ></textarea>
              </mat-form-field>
            </div>

          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 2"
            (opened)="setStep(2)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Santé </mat-panel-title>
              <mat-panel-description>
                Freins/points d’attention? Difficultés physiques et/ou
                psychologiques ?
              </mat-panel-description>
              <mat-icon>health_and_safety</mat-icon>
            </mat-expansion-panel-header>
            <div class="form-style">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Santé</mat-label>
                <textarea
                  matInput
                  rows="10"
                  placeholder="..."
                  [formControl]="ctlPersonalSituationHealth"
                ></textarea>
              </mat-form-field>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 3"
            (opened)="setStep(3)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Situation financière </mat-panel-title>
              <mat-panel-description>
                Besoin financier ? Dettes ? Suivi en médiation de dettes ? Niveau
                de confort/inconfort ?
              </mat-panel-description>
              <mat-icon>euro</mat-icon>
            </mat-expansion-panel-header>
            <div class="form-style">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Situation financière</mat-label>
                <textarea
                  matInput
                  rows="10"
                  placeholder="..."
                  [formControl]="ctlPersonalSituationFinancialSituation"
                ></textarea>
              </mat-form-field>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 4"
            (opened)="setStep(4)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Situation administrative </mat-panel-title>
              <mat-panel-description>
                Type de séjour ? Accès limité (emploi/formation) ? Générateur de
                stress ? Casier judiciaire ? Mutuelle ?
              </mat-panel-description>
              <mat-icon>settings_accessibility</mat-icon>
            </mat-expansion-panel-header>
            <div class="form-style">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Situation administratif</mat-label>
                <textarea
                  matInput
                  rows="10"
                  placeholder="..."
                  [formControl]="ctlPersonalSituationAdministrativeStatus"
                ></textarea>
              </mat-form-field>
            </div>
            <!-- <mat-divider></mat-divider>
            <frontend-personal-situation-administrative-status-list [listOfBilans]="bilansList"></frontend-personal-situation-administrative-status-list> -->
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Attentes pro et autonomie">
      <div class="form">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel
            [expanded]="step === 0"
            (opened)="setStep(0)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Objectifs </mat-panel-title>
              <!-- <mat-icon>family_restroom</mat-icon> -->
            </mat-expansion-panel-header>
                  <div class="objectifs">
                    <mat-form-field appearance="fill" class="style-form">
                      <mat-label>Premier objectif à court terme</mat-label>
                      <input matInput [formControl]="ctlProfessionalExpectationShortTermA" />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="style-form">
                      <mat-label>Deuxième objectif à court terme</mat-label>
                      <input matInput [formControl]="ctlProfessionalExpectationShortTermB" />
                    </mat-form-field>
                  </div>
                  <div class="objectifs">
                    <mat-form-field class="style-form" appearance="fill">
                      <mat-label>Objectif à moyen terme</mat-label>
                      <input matInput [formControl]="ctlProfessionalExpectationMediumTerm" />
                    </mat-form-field>
                  </div>
                  <div class="objectifs">
                    <ng-template matStepLabel
                      >Ce que j’aimerais faire dans quelques années…</ng-template
                    >
                    <mat-form-field class="style-form" appearance="fill">
                      <mat-label>Objectif à long terme</mat-label>
                      <input matInput [formControl]="ctlProfessionalExpectationLongTerm" />
                    </mat-form-field>
                  </div>
          </mat-expansion-panel>
          <mat-expansion-panel
            [expanded]="step === 1"
            (opened)="setStep(1)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Connaissances linguistique et informatique</mat-panel-title>
              <!-- <mat-icon>house</mat-icon> -->
            </mat-expansion-panel-header>
            <div class="objectifs">
              <table>
                <tr>
                  <th colspan="3" style="margin-bottom: 5px;">Vos connaissances en français et en Néerlandais</th>
                </tr>
                <tr>
                  <th>Langue</th>
                  <th>Expression orale</th>
                  <th>Expression écrit</th>
                </tr>
                <tr>
                  <td>Français</td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Select me</mat-label>
                      <mat-select
                      placeholder="Statut"
                      [formControl]="ctlProfessionalExpectationFrOralLanguageScore"
                    >
                      <mat-option *ngFor="let element of scores" [value]="element.id">
                        {{ element.value }}
                      </mat-option>
                    </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Select me</mat-label>
                      <mat-select
                      placeholder="Statut"
                      [formControl]="ctlProfessionalExpectationFrWrittenLanguageScore"
                    >
                      <mat-option *ngFor="let element of scores" [value]="element.id">
                        {{ element.value }}
                      </mat-option>
                    </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>Néerlandais</td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Select me</mat-label>
                      <mat-select
                      placeholder="Statut"
                      [formControl]="ctlProfessionalExpectationNlOralLanguageScore"
                    >
                      <mat-option *ngFor="let element of scores" [value]="element.id">
                        {{ element.value }}
                      </mat-option>
                    </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Select me</mat-label>
                      <mat-select
                placeholder="Statut"
                [formControl]="ctlProfessionalExpectationNlWrittentLanguageScore"
              >
                <mat-option *ngFor="let element of scores" [value]="element.id">
                  {{ element.value }}
                </mat-option>
              </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <th colspan="3" style="margin-bottom: 5px;">Autonomie en informatique</th>
                </tr>
                <tr>
                  <td align="right">
                    <mat-checkbox
                      class="example-margin"
                      [formControl]="ctlProfessionalExpectationItKnowledgeEmail"
                      >Email</mat-checkbox
                    >
                  </td>
                  <td align="right">
                    <mat-checkbox
                      class="example-margin"
                      [formControl]="ctlProfessionalExpectationItKnowledgeInternet"
                      >Internet</mat-checkbox
                    >
                  </td>
                  <td align="right">
                    <mat-checkbox class="example-margin"
                    [formControl]="ctlProfessionalExpectationItKnowledgeWord"
                      >Word</mat-checkbox
                    >
                  </td>
                </tr>
              </table>
            </div>

            <mat-divider></mat-divider>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 2"
            (opened)="setStep(2)"
            hideToggle
          >
          <mat-expansion-panel-header>
            <mat-panel-title> Condition de travail </mat-panel-title>
            <!-- <mat-icon>euro</mat-icon> -->
          </mat-expansion-panel-header>
            <div class="objectifs">
              <table>
                <thead>
                  <tr>
                    <th colspan="2">QU’EST-CE QUI EST IMPORTANT POUR MA FUTURE EXPÉRIENCE DE TRAVAIL ?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Conditions de travail, régime horaire, travail en équipe ou solitaire, etc. ?
                    </td>
                  </tr>
                  <tr>
                    <td width="50%">
                      <mat-form-field class="style-form" appearance="fill">
                        <mat-label>ce que je ne souhaite pas :</mat-label>
                        <textarea
                        matInput
                        rows="5"
                        cols="40"
                        placeholder="..."
                        [formControl]="ctlProfessionalExpectationWorkingConditionWhatIDontWant"
                      ></textarea>
                      </mat-form-field>
                    </td>
                    <td width="50%">
                      <mat-form-field class="style-form" appearance="fill">
                        <mat-label>ce que je souhaite :</mat-label>
                        <textarea
                        matInput
                        rows="5"
                        cols="40"
                        placeholder="..."
                        [formControl]="ctlProfessionalExpectationWorkingConditionWhatIWant"
                      ></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2">QU’EST-CE QUI ME MOTIVE DANS LA RECHERCHE D’EMPLOI ?</th>
                  </tr>
                  <tr>
                  <td align="center"  colspan="2">
                    <mat-form-field class="style-form" appearance="fill">
                      <mat-label>Quel objectif est recherché ? </mat-label>
                      <textarea
                      matInput
                      rows="5"
                      placeholder="..."
                      [formControl]="ctlProfessionalExpectationWorkingConditionWhatMotivatesMe"
                    ></textarea>
                    </mat-form-field>
                  </td>
                </tr>
                <td><br/></td>
                <tr>
                  <th colspan="2">NOTE ET REGARD DU CONSULTANT</th>
                </tr>
                <tr>
                <td align="center" colspan="2">
                  <mat-form-field class="style-form" appearance="fill">
                    <mat-label>Notes du consultant</mat-label>
                    <textarea
                    matInput
                    rows="5"
                    placeholder="..."
                    [formControl]="ctlProfessionalExpectationWorkingConditionConsultantNote"
                  ></textarea>
                  </mat-form-field>
                </td>
              </tr>
                </tbody>
              </table>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 3"
            (opened)="setStep(3)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Métier </mat-panel-title>
              <!-- <mat-icon>settings_accessibility</mat-icon> -->
            </mat-expansion-panel-header>
            <div *ngFor="let childForm of formArray.controls; let i = index">
              <frontend-bilan-profession-details
              [childForm]="childForm"
              [arrayIndex]="i"
              [totalContacts]="formArray.length"
              [professionTitleValue]="professionTitleValue(i)"
              (deleteContactEvent)="deleteBilanProfession( $event )"
              >
              </frontend-bilan-profession-details>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Parcours au sein de l'ISP">
      <frontend-support-list [beneficiaryId]="beneficiaryId"></frontend-support-list>
    </mat-tab>
    <mat-tab label="Études et formations">
      <div class="objectifs">
        <table style="width:100%">
          <thead>
            <tr>
              <th colspan="2">QUELLES ONT ÉTÉ LES DIFFICULTÉS LORS DE MES ÉTUDES/FORMATIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2"></th>
            </tr>
            <tr>
            <td align="center"  colspan="2">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Situation perso, méthodes de travail, peu d'intérêt, difficulté spécifique, programme incomplet, prérequis personnels...</mat-label>
                <textarea
                matInput
                rows="5"
                placeholder="…"
                [formControl]="ctlFormationDifficulty"
              ></textarea>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th colspan="2">CE QUI RESSORT DE MES ETUDES, DE MES FORMATIONS...
            </th>
          </tr>
          <tr>
          <td align="center"  colspan="2">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Ce que j'ai appris/intérêt pour tel métier, ce que je n'aime plus/ne peux/veux plus faire, comment j'ai faitmes choix, ce que j'ai envie de continuer, …</mat-label>
              <textarea
              matInput
              rows="5"
              placeholder="…"
              [formControl]="ctlFormationOpinion"
            ></textarea>
            </mat-form-field>
          </td>
        </tr>
            <tr>
              <td width="50%">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Mes facilités/mes forces</mat-label>
                  <textarea
                  matInput
                  rows="5"
                  placeholder="..."
                  [formControl]="ctlFormationFacilitiesAndStrengths"
                ></textarea>
                </mat-form-field>
              </td>
              <td width="50%">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Mes points d’amélioration</mat-label>
                  <textarea
                  matInput
                  rows="5"
                  placeholder="..."
                  [formControl]="ctlFormationPersonalImprovments"
                ></textarea>
                </mat-form-field>
              </td>
            </tr>
          <tr>
            <th colspan="2">NOTE DU CONSULTANT</th>
          </tr>
          <tr>
          <td align="center" colspan="2">
            <mat-form-field appearance="fill" class="full-width">
              <textarea
              matInput
              rows="5"
              placeholder="..."
              [formControl]="ctlFormationConsultantNote"
            ></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th colspan="2">NOTES D'APPRENTISSAGE ET D'ACCOMPAGNEMENT DES LANGUES</th>
        </tr>
        <tr>
        <td align="center" colspan="2">
          <mat-form-field appearance="fill" class="full-width">
            <textarea
            matInput
            rows="5"
            placeholder="..."
            [formControl]="ctlFormationConsultantLanguageLearningNote"
          ></textarea>
          </mat-form-field>
        </td>
      </tr>
          </tbody>
        </table>
      </div>
      <frontend-beneficiary-formations-list [beneficiaryId]="beneficiaryId"></frontend-beneficiary-formations-list>
    </mat-tab>
    <mat-tab label="Expériences professionnelles">
      <div class="box">
        <div class="objectifs">
          <table style="width:100%">
            <tbody>
              <tr>
                <td width="50%">
                  <H3><STRONG>QU'EST-CE QUI A POSÉ PROBLÈME LORS DE CES EXPÉRIENCES</STRONG></H3>
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Des manquements ? Ce qui n’a pas plu ?</mat-label>
                    <textarea
                    matInput
                    rows="5"
                    placeholder="..."
                    [formControl]="ctlProfessionalExperienceProblemEncountered"
                  ></textarea>
                  </mat-form-field>
                </td>
                <td width="50%">
                  <H3><STRONG>QU'EST-CE JE RETIRE DE POSITIF DE CES EXPÉRIENCES</STRONG></H3>
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Qu'est-ce que je retire de positif de ces expériences ? Enrichissement ? Apprentissage ? Responsabilités ?</mat-label>
                    <textarea
                    matInput
                    rows="5"
                    placeholder="..."
                    [formControl]="ctlProfessionalExperienceWhatsRewarding"
                  ></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <H3><STRONG>MA CONNAISSANCE DE LA RECHERCHE D'EMPLOI ?</STRONG></H3>
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label> Quel canal ? Comment? Agence d’intérim ? Internet ?</mat-label>
                    <textarea
                    matInput
                    rows="5"
                    placeholder="..."
                    [formControl]="ctlProfessionalExperienceKnowledge"
                  ></textarea>
                  </mat-form-field>
                </td>
                <td width="50%">
                  <H3><STRONG>POINT À AMÉLIORER</STRONG></H3>
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>...</mat-label>
                    <textarea
                    matInput
                    rows="5"
                    placeholder="..."
                    [formControl]="ctlProfessionalExperiencePointToImprove"
                  ></textarea>
                  </mat-form-field>
                </td>
              </tr>
            <tr>
            <td align="center" colspan="2">
              <H3><STRONG>NOTES ET REGARD DU CONSULTANT</STRONG></H3>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>...</mat-label>
                <textarea
                matInput
                rows="5"
                placeholder="..."
                [formControl]="ctlProfessionalExperienceNote"
              ></textarea>
              </mat-form-field>
            </td>
          </tr>
            </tbody>
          </table>
        </div>
        <div class="add-button-div">
          <h3 class="title-bloc-exp">Gestion des expériences professionnelles  <mat-icon matTooltip="gestion des formations">work</mat-icon></h3>
          <button mat-fab color="primary" class="add-button-exp-pro" (click)="createExperience(beneficiaryId)">
            <mat-icon matTooltip="Ajouter une expérience">add</mat-icon>
          </button>
        </div>
        <frontend-professional-expectations-list [beneficiaryId]="beneficiaryId"></frontend-professional-expectations-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
  <div class="footer">
    <button type="reset" mat-button (click)="cancel()">Annuler</button>
    <button
      type="submit"
      mat-button
      form="frm"
      [disabled]="frm.pristine || frm.invalid || frm.pending"
      (click)="update()"
    >
      Enregistrer brouillon
    </button>
  </div>
</form>
<!-- <pre>
{{frm.value | json }}
{{frm.invalid | json }}
{{frm.pristine | json }}
{{frm.pending | json }}
</pre> -->
