table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-column-actions {
width: 150px;
}

.button-style {
  margin-top: 6px;
}

.boutton {
  background-color: rgb(141, 187, 68, 0.90);
  //rgba(3, 57, 82, 0.15);
}

.card-style {
  margin-top: 20px;
  transition: none !important;
  box-shadow: none !important;
}

.green-icon {
  color: rgb(141, 187, 68, 0.90);
}
.title-bloc {
color: white;
//background: rgb(23, 90, 117);
background: #4CAF50; /* Green */
font-size: 20px;
margin-left: 10px;
padding: 1%;
text-align: center;
}
