<form id="frm" class="form" [formGroup]="frm" novalidate>
    <h1 class="title-bloc">
      {{(!isNew ? 'Edit a' : 'Add a') + ' team'}}
    </h1>
    <div>
        <mat-form-field appearance="fill" class="w-100">
            <input matInput placeholder="Name" [formControl]="ctlName" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="w-100">
            <input matInput placeholder="Acronym" [formControl]="ctlAcronym" required>
        </mat-form-field>
    </div>
    <div class="footer">
        <button type="reset" mat-button (click)="cancel()">Cancel</button>
        <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">Save</button>
    </div>
</form>
